<footer class="main-footer fl-wrap">
    <div class="footer-inner fl-wrap">
        <div class="container">
            <div class="row">
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-logo fl-wrap">
                            <img src="images/logo.png" alt="">
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        <div class="fw_hours fl-wrap">
                            <span>دوشنبه تا جمعه:<strong> 8 صبح تا 6 بعد از ظهر</strong></span>
                            <span>شنبه تا یکشنبه:<strong> 9 صبح تا 3 بعد از ظهر</strong></span>
                        </div>
                    </div>
                </div>
                <!-- footer widget end-->
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>لینک های مفید</h4>
                        </div>
                        <ul class="footer-list fl-wrap">
                            <li><a href="about.html">درباره شرکت ما</a></li>
                            <li><a href="blog.html">آخرین اخبار ما</a></li>
                            <li><a href="pricing.html">طرح های قیمت گذاری</a></li>
                            <li><a href="contacts.html">تماس با ما</a></li>
                            <li><a href="help.html">مرکز کمک</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer widget end-->
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>اطلاعات تماس</h4>
                        </div>
                        <ul class="footer-contacts fl-wrap">
                            <li><span><i class="fal fa-envelope"></i> ایمیل: </span><a href="#" target="_blank">setinco@gmail.com</a></li>
                            <li> <span><i class="fal fa-map-marker"></i> آدرس : </span><a href="#" target="_blank">ایران،یزد،مطهری</a></li>
                            <li><span><i class="fal fa-phone"></i> تلفن: </span><a href="#">0353202560</a></li>
                        </ul>
                        <div class="footer-social fl-wrap">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer widget end-->
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>دانلود نرم افزار</h4>
                        </div>
                        <p>شروع به کار با  کنید که می تواند هر آنچه را که نیاز دارید فراهم کند </p>
                        <div class="api-links fl-wrap">
                            <a href="#" class="api-btn color-bg"><i class="fab fa-apple"></i>  اپ استور</a>
                            <a href="#" class="api-btn color-bg"><i class="fab fa-google-play"></i>   بازار بازی</a>
                        </div>
                    </div>
                </div>
                <!-- footer widget end-->
            </div>
        </div>
    </div>
    <!--sub-footer-->
    <div class="sub-footer gray-bg fl-wrap">
        <div class="container">
            <div class="copyright"> &#169; تمامی حقوق محفوظ است</div>
            <div class="subfooter-nav">
                <ul class="no-list-style">
                    <li><a href="#">شرایط استفاده</a></li>
                    <li><a href="#">حریم خصوصی</a></li>
                    <li><a href="#">وبلاگ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--sub-footer end -->
</footer>